.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5%;
}


#main-view {
    width: 50%;
    background: white;
    font-size: 14px;
    height: 500px;
}

.matrix-task {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

table, td, th {
    border: 2px solid black;
    width: 10%;
}

.center-wrapper {
    padding-top: 75px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: darkgrey;
}

.existing-comment {

    border-radius: 20px;
    border: 2px solid black;
    padding: 20px;

}

#comments {
    width: 80%;
    margin: auto;
}

.modal__overlay {
    display: none;
}

.modal__overlay.is-active {
    display: block;
}
