body {
    background: #F2ECE9;
    font-size: 16px;
    line-height: 1.4em;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    color: #2A2A2D;
}

a {
    color: #575A48;
    text-decoration: none;
}

img {
    height: auto;
    max-width: 100%;
}

a:hover,
a:focus {
    color: #303440;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', serif;
    font-weight: 700;
    color: #303440;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5%;
}

.matrix-task {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.menu--main {
    margin-top: 2.5em;
    border-bottom: 2px solid #848284;
}

table, td, th {
    text-align: center;
    border: 1px solid #848284;
    border-collapse: collapse;
}

table {
    box-shadow: 5px 5px 15px silver;
    margin-bottom: 4em;
}

td, th {
    padding: 15px 10px;
}

th {
    background: #303440;
    color: #848284;
    font-weight: 300;
}

td {
    font-weight: 400;
}

.center-wrapper {
    padding-top: 75px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: darkgrey;
}

.existing-comment {

    border-radius: 20px;
    border: 2px solid black;
    padding: 20px;

}

.modal__overlay {
    visibility: hidden;
    background: rgba(0, 0, 0, .75);
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99999;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.modal__content {

}

.modal__overlay.is-active {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.modal__wrap {
    background: #F2ECE9;
    box-shadow: 5px 5px 15px black;
    width: 80%;
    max-width: 800px;
    margin: 100px auto;
    padding: 2em 3em;
    position: relative;
    max-height: 65%;
    overflow: scroll;
}

.modal__navigation {
    text-align: center;
}

.modal__button {
    display: inline-block;
    color: #F2ECE9;
    font-size: 3em;
    height: 50px;
    width: 50px;
    overflow: hidden;
    position: absolute;
}

.modal__button:hover,
.modal__button:focus {
    color: #575A48;
}

.modal__button--top {
    top: -75px;
}

.modal__button--bottom {
    bottom: -75px;
}

.modal__button--left,
.modal__button--right {
    top: 40%;
}

.modal__button--left {
    left: -75px;
}

.modal__button--right {
    right: -75px;
}

.modal__button.toggle--modal {
    top: 2px;
    right: 0;
    color: #575A48;
}

header {
    overflow: hidden;
}

.site__logo {
    float: left;
    display: inline-block;
    height: auto;
    width: 200px;
    text-indent: 99999px;
    overflow: hidden;
}

.menu--main {
    float: right;
}

.menu--main__list {
    list-style: none;
    margin: 0;
}

.menu--main__item {
    display: inline-block;
    border: 1px solid #575A48;
    border-radius: 5px 5px 0 0;
}

.menu--main__link {
    display: block;
    background: #303440;
    color: #848284;
    padding: 10px 20px;
}

.menu--main__link:hover,
.menu--main__link:focus {
    background: #303440;
    color: #F2ECE9;
}

.comment__list {
    margin: 0;
    margin-top: 2em;
    margin-bottom: 2em;
    max-width: 50%;
}

.comment__title {
    font-size: 1em;
}

.comment {
    background-color: #848284;
    width: 90%;

}

.child_comment {
    background-color: aqua;
    width: 80%;
    border: solid 1px;
}

.form__item {
    display: block;
}

label {
    color: #848284;
    font-size: .9em;
    font-weight: 300;
    margin-bottom: 5px;
}

textarea,
input {
    margin-bottom: 15px;
    width: 80%;
    border: none;
    padding: 15px 10px;
}

.button {
    color: #848284;
    background: #303440;
    font-family: Cinzel;
    font-size: 1em;
    font-weight: 400;
}