table, td, th {
    text-align: center;
    border: 1px solid #848284;
    border-collapse: collapse;
    cursor: pointer;
}

table {
    box-shadow: 5px 5px 15px silver;
    margin-bottom: 4em;
}

table a {
    text-decoration: none;
}

td, th {
    padding: 15px 10px;
}

th {
    background: #303440;
    font-weight: 700;
}

th a {
    color: #8a925e;
}

td {
    font-weight: 400;
}

header {
    padding-bottom: 25px;
}

footer {
    margin-top: 40px;
}

.footer {
    width: 100%;
    background-color: #f5f5f5;
}

.flex {
    display: flex;
}

.sticky-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}

.small-image {
    width: auto;
    height: 64px;
}

.matrix-task {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.menu--main {
    margin-top: 2.5em;
    border-bottom: 2px solid #848284;
}

.center-wrapper {
    padding-top: 75px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: darkgrey;
}

.existing-comment {
    border-radius: 20px;
    border: 2px solid black;
    padding: 20px;
}

.modal__overlay {
    visibility: hidden;
    background: rgba(0, 0, 0, .75);
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99999;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.modal__content {
    overflow: auto;
    max-height: 100%;
}

.modal__overlay.is-active {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.modal__wrap {
    background: #F2ECE9;
    box-shadow: 5px 5px 15px black;
    width: 80%;
    max-width: 800px;
    height: 70%;
    margin: 100px auto;
    padding: 2em 3em;
    position: relative;
}

.modal__navigation {
    text-align: center;
}

.modal__navigation a {
    text-decoration: none;
}

.modal__button {
    display: inline-block;
    color: #F2ECE9;
    font-size: 3em;
    height: 50px;
    width: 50px;
    overflow: hidden;
    position: absolute;
}

.modal__button:hover,
.modal__button:focus {
    color: #575A48;
}

.modal__button--top {
    top: -75px;
}

.modal__button--bottom {
    bottom: -75px;
}

.modal__button--left,
.modal__button--right {
    top: 40%;
}

.modal__button--left {
    left: -75px;
}

.modal__button--right {
    right: -75px;
}

.modal__button.toggle--modal {
    top: 2px;
    right: 0;
    color: #575A48;
}

.site__logo {
    float: left;
    display: inline-block;
    height: auto;
    width: 200px;
    text-indent: 99999px;
    overflow: hidden;
}

.menu--main {
    float: right;
}

.menu--main__list {
    list-style: none;
    margin: 0;
}

.menu--main__item {
    display: inline-block;
    border: 1px solid #575A48;
    border-radius: 5px 5px 0 0;
}

.menu--main__link {
    display: block;
    background: #303440;
    color: #848284;
    padding: 10px 20px;
    text-decoration: none;
}

.menu--main__link:hover,
.menu--main__link:focus {
    background: #303440;
    color: #F2ECE9;
}

.comment__list {
    margin: 0;
    margin-top: 2em;
    margin-bottom: 2em;
    max-width: 90%;
}

.comment__title {
    font-size: 1em;
}

.form__item {
    display: block;
}