body {
    background: #F2ECE9;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #2A2A2D;
}

a {
    color: #575A48;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #303440;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', serif;
    font-weight: 700;
    color: #303440;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5%;
}

.matrix-task {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    border-top: 5px solid #575A48;
}

table, td, th {
    border: 2px solid black;
    width: 10%;
    text-align:center;
}

.center-wrapper {
    padding-top: 75px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: darkgrey;
}

.existing-comment {

    border-radius: 20px;
    border: 2px solid black;
    padding: 20px;

}

#comments {
    width: 80%;
    margin: auto;
}

.modal__overlay {
    visibility: hidden;
    background: rgba(0, 0, 0, .75);
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99999;
    opacity: 0;
    transition:visibility 0s linear 0.3s,opacity 0.3s linear;
}

.modal__overlay.is-active {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.modal__wrap {
    background: #F2ECE9;
    width: 80%;
    max-height: 80%;
    max-width: 800px;
    margin: 100px auto;
    padding: 2em 3em;
    position: relative;
}

.modal__content {
    overflow: scroll;
}

.modal__navigation {
    text-align: center;
}

.modal__button {
    display: inline-block;
    color: #F2ECE9;
    font-size: 3em;
    height: 50px;
    width: 50px;
    overflow: hidden;
    position: absolute;
}

.modal__button:hover,
.modal__button:focus {
    color: #575A48;
}

.modal__button--top {
    top: -75px;
}

.modal__button--bottom {
    bottom: -75px;
}

.modal__button--left {
    left: -75px;
}

.modal__button--right {
    right: -75px;
}

.modal__button.toggle--modal {
    top: 2px;
    right: 0;
    color: #575A48;
}

header {
    overflow: hidden;
}

.site__name {
    float: left;
    display: inline-block;
}

.menu--main {
    float: right;
}

.menu--main__list {
    list-style: none;
    margin: 0;
}

.menu--main__item {
    display: inline-block;
    border: 1px solid #575A48;
    border-radius: 5px 5px 0 0;
}

.menu--main__link {
    display: block;
    background: #2A2A2D;
    color: #F2ECE9;
    padding: 10px 20px;
}

.menu--main__link:hover,
.menu--main__link:focus {
    background: #303440;
    color: #F2ECE9;
}

.comment__list {
    margin-top: 2em;
    margin-bottom: 2em;
}

.form__item {
    display: block;
}

label {
    color: #848284;
    margin-bottom: 5px;
}

textarea,
input {
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid #848284;
}